#!/bin/bash
# Template from buildben copied to neddata/.envrc
# !! This script is executes EVERY TIME you enter the directory !!

# === Environment Variables ===========================================
### direnv changes into directory of .envrc and runs subshell, so $PWD is always project root.
PROJECT_NAME=$(basename "$PWD")
PROJECT_ROOT=$PWD

export PROJECT_NAME
export PROJECT_ROOT

# > Make pip hard-fail if pip is run outside a venv
export PIP_REQUIRE_VIRTUALENV=1

# > Uncomment to pin tool versions
# export PIPX_HOME=$PWD/.build-tools

# === direnv / venv ===================================================
layout python3 # > create & activate .venv under .direnv/

# === Install pip-tools ===============================================

python -m pip show pip-tools >/dev/null 2>&1 || (
    echo "Installing pip-tools!" &&
        python -m pip install --quiet "pip-tools>=7.4"
)

# === Echo all env vars & info ======================================
echo
echo "=== Project-Related Environment Variables ==="
echo "PROJECT_NAME: $PROJECT_NAME"
echo "PROJECT_ROOT: $PROJECT_ROOT"
echo "VIRTUAL_ENV:  $VIRTUAL_ENV"
echo "PIP_REQUIRE_VIRTUALENV: $PIP_REQUIRE_VIRTUALENV"
echo
echo "=== Buildben Dependencies ==="
echo "pip-tools: {$(python -m pip show pip-tools | grep Version)}"
echo

# === Secrets =========================================================
[[ -f ./.secrets.env ]] && source_env ./.secrets.env
